* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
 background: radial-gradient(circle at top left, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

header {
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}
h1, h2 {
  text-shadow: 0 0 10px #00e1ff, 0 0 20px #00e1ff;
}
.typewriter {
  overflow: hidden;
  border-right: .15em solid #00e1ff;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.title {
  color: #00bfa6;
  font-size: 1.2rem;
  margin-top: 10px;
}

section {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

h2 {
  color: #00bfa6;
  margin-bottom: 10px;
  border-left: 4px solid #00bfa6;
  padding-left: 8px;
}

ul {
  list-style: square inside;
  margin-top: 10px;
}

.projects .btn {
  border: 1px solid #00e1ff;
  padding: 10px 25px;
  background: transparent;
  color: #00e1ff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.projects .btn:hover {
  box-shadow: 0 0 10px #00e1ff, 0 0 20px #00e1ff;
  transform: scale(1.05);
}

footer {
  text-align: center;
  background: #1a1a1a;
  color: #ccc;
  padding: 15px 0;
  margin-top: 50px;
  font-size: 0.9rem;
}
#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #00e1ff;
  border: none;
  color: #000;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
 
